<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Документ</title>
</head>
<body>
<h1>Коллекция: <span th:text="${collection_name}"></span></h1>

<ul>
    <li th:each="document : ${documents}">
        <span th:text="${document}"></span>
    </li>
</ul>

<div>
    <span th:if="${currentPage > 0}">
        <a th:href="@{'/results/' + ${collection_name} + '?page=' + (${currentPage} - 1) + '&size=' + 5}">Назад</a>
    </span>
    <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
        <a th:href="@{'/results/' + ${collection_name} + '?page=' + ${i} + '&size=' + 5}"
           th:text="${i + 1}">1</a>
    </span>
    <span th:if="${currentPage < totalPages - 1}">
        <a th:href="@{'/results/' + ${collection_name} + '?page=' + (${currentPage} + 1) + '&size=' + 5}">Вперед</a>
    </span>
</div>

</body>
</html>
